.contentCustomSelect {
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #98a3b8;
  }
  .contentCustomSelect > label {
    position: absolute;
    top: -6px;
    left: 12px;
    font-size: 13px;
    background-color: white;
    color: #0052cc;
    z-index: 9;
  }
  .contentImageArrow {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imageArrow {
    transform: rotate(-90deg);
  }
  .contentArrowSelectOption {
      display: flex;
      align-items: center;
      margin-top: 12px;
      flex-direction: row-reverse;
      justify-content: space-around;
  }
  .optionsList {
      position: relative;
      width: 100%;
      max-height: 275px;
      top: -247px;
      padding: 8px 0;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: white;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      z-index: 99;
  }
  .optionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    min-height: 48px;
    background-color: white;
  }
  .selectedOption {
    color: #3f51b5;
  }