.navigationContainer {
  width: 250px;
  background-color: white;
  padding: 0 1rem;
  border-right: 4px solid #f4f4f4;
}

.titlePsicologia {
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navigationList {
  background-color: white;
  margin: 0 -1rem;
}

.navigationList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItemIcon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  margin-right: 10px;
  padding-right: 8px;
  position: relative;
}

.active {
  width: 100%;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notActive {
  display: flex;
  height: 57px;
  flex-direction: row;
  align-items: center;
}

.contentAnclaMenuItem {
  display: flex;
  width: 100%;
  height: 57px;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

.contetTextArrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 18px;
}
.titleNavigationBar {
  padding: 0 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.submenuItem {
  display: flex;
  height: 57px;
  flex-direction: row;
  align-items: center;
  margin-left: 18px;
  border-left: 4px solid #f4f4f4;
  padding-left: 18px;
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}
.contentTexSubItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #f4f4f4;
}

.submenuList {
  padding-left: 16px;
}

.navItemIconSubmodulo {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  padding-right: 8px;
  position: relative;
  background-color: transparent;
  margin-right: 12px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowActive {
  transform: rotate(90deg);
}

@media (max-width: 769px) {
  .navigationContainer {
    display: none;
  }
}
