.contentCalendar {
  position: relative;
  margin-bottom: 24px;
}
.contentCalendar > input {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--gris-one);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin-top: 5px;
  outline: none;
}
.contentCalendar label {
  font-size: 15px;
  font-weight: 500;
  color: var(--gris-one);
  position: relative;
}
.contentCalendar > input:focus {
  outline: none;
}
