.contentLinkButtonAddsubScription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media (max-width: 769px) {
  .contentLinkButtonAddsubScription {
    margin-top: 96px;
  }
}

@media (max-width: 508px) {
.contentLinkButtonAddsubScription {
  flex-direction: column;
  align-items: normal;
}
}